body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}

.btn 
{
    display: block;
}

.col-centered{
    margin: 0 auto;
}

.overhead{
    display:none;
    position: fixed;
    opacity: 0.9;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding-top: 20%;
    background-color: red;
    color: white;
    font-size: 15em;
    font-weight: bolder;
    z-index: 100;

    transition: opacity 0.2s ease-in-out;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .overhead{    
        font-size: 10em;
    }
}
@media (max-width: 767px) {
    .overhead{    
        font-size: 7em;
    }
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
